body {
	overflow-x: hidden; /*--right gutter fix--*/
  font-family: sans-serif;
  color: #212121;
}

.navbar {
  text-transform: uppercase;
  background-color: #212121;
}
.navbar-brand img {
  height: 2rem;
}
.home-inner {
  background-image: url('img/GroupPhoto.jpg');
}
.landing-title {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1; /* Make sure text appears on top of background img */
}

.landing-title h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
}

.landing-title h6 {
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  padding-bottom: 1.8rem;
}

.btn {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1.1rem;
}

.profile-btn {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 1.1rem;
}

.heading {
  text-align: center;
  font-size: 1.9rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.padding {
  padding: 2rem 0;
}

img .gallery {
  max-width: 100%;
}

.no-padding .col-md-6 {
  padding: 0;
}
.card {
  margin: 1rem;
}

.card h4 {
  padding-top: 1rem;
}


/* To make member cards stack on top of eachother when window width gets small */
@media only screen and (min-width: 1000px) {
	#members {
	  margin: 0rem 10rem 0rem 10rem;
	}
}


/* [1] The container */
.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}


/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
