



@keyframes bouncy{
    0%  {top: 60em;}
    40% {top: 0em;}
    43% {top: -0.9em;}
    46% {top: 0em;}
    48% {top: -0.4em;}
    50% {top: 0em;}
    100% {top: 0em;}
}

button {
    background-color: rgb(253, 236, 1);
    color: rgb(56, 3, 245);
    border: 2px solid rgb(1, 12, 1);
    animation-name: bouncy; 
    animation-duration:5s;
    animation-iteration-count: infinite;
}

