button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: rgb(238, 164, 164);
    border: 2px solid #4CAF50;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }